*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: mintcream;
}
a{
    text-decoration: none; 
}

div {
    /* border: 2px solid red; */
}

header {
    height:400px;
}
#main {
    overflow:hidden;
    position:relative;
    width: 100%;
    height: 100%;
    /* background-image: url("메인2.jpg"); */
    background-size:100% 100%;

}
#main > nav > ul > a {
    position: relative ;
    z-index:100;
}
#main > nav > ul > a> img{
    width:60px; margin-right:300px;
}
nav > ul > li {
    /* border:2px solid pink;  */
}
.submenu{
    display:none;
    position:absolute; z-index:99; text-align:center;
    /* border:2px solid red; */
    background-color:rgba(0,0,0, 0.5);
    padding:10px;
    margin:0;
    padding-bottom:40px;
}
nav>ul>li> .submenu >li {
    display:flex;
    justify-content: center;
    list-style-type: none; 
    height:auto;
    height:50px;
}
.submenu>li:hover {
    /* background-color: blue; */
}
nav>ul>li> .submenu> li> a{
    display:inline; 
    color:white; 
    font-size:12px;
    padding-bottom:20px;
}
.submenu li a:hover {
    color:darkgray;
}
video {
    width:100%;
    /* border:2px solid pink; */
}

nav {
    position:absolute;
    width: 100%;
    height: 80px;
    /* background-color: #0005; */
    line-height: 80px;
    /* border:2px solid yellow; */
}

nav img {
    margin-top: 15px;
    margin-left: 30px;
}

nav ul {
    text-align : center;
    margin-right: 30px;
    overflow:hidden;
}


nav> ul >li {
    list-style-type: none;
    display: inline-block;
    /* background-color: #000; */
    padding-left:100px;
    padding-right:100px;
}
nav > ul > li:hover {
    /* background-color: gray; */
}


nav >ul >li >a {
    position:relative;
    text-decoration: none;
    color: #fff;
    z-index:10;
    /* padding: 100px; */
}
nav ul li a:hover {
    color:orange;
}
div#main #playButton {
    display:block;
    width:200px;
    height:200px;
    position:absolute;
    border:10px solid white;
    margin-top:10%;
    background-color:rgb(242,99,93);
    border-radius: 50%;
    text-align:center;
    color:white;
    padding-top:20px;
    margin-left:45%;
    z-index:10;
}

div#main #playButton h1 {
    padding-top:12%;
}
div#main #playButton h1.moveButton {
    padding-top:12%;
    animation:startButton 0.5s;
}
div#second .swiper {
    /* border:5px solid pink; */
    width:100%;
    height:150px;
}
div#second {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-left:10%;
    margin-right:10%;
    /* border:3px solid red; */
}
div#second >a{
    /* border:0.5px solid black;  */
    text-align:center; color:black;
    padding-top:50px;
    font-size:24px;
    border-radius:5px;
}
div#second div.swiper .slide1 {
    background-image: url("슬라이드1.jpg");
    background-size:100% 100%;
}
div#second div.swiper .slide2 {
    background-image: url("슬라이드2.jpg");
    background-size:100% 100%;
}
div#second div.swiper .slide3 {
    background-image: url("슬라이드3.jpg");
    background-size:100% 100%;
}
div#second a.backLogin {
    background-color: orange;
}
div#second a.backSign {
    background-color: skyblue;
}
div#slide {
    height:150px;
}

div#login article{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
iframe {
    margin-left:10%;
    width:80%;
    margin-bottom:50px;
}
div#preview {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:400px;
    margin-left:10%;
    margin-right:10%;
}
div#preview div {
    margin:15%;
}
div#preview .preNotice {
    background-image: url("공지사항.jpg");
    background-size : 100% 100%;
}
div#preview .preNews {
    background-image: url("뉴스.jpg");
    background-size : 100% 100%;
}
div#preview .preCom {
    background-image: url("커뮤니티.jpg");
    background-size : 100% 100%;
}
div#preview .preEvent {
    background-image: url("이벤트.jpg");
    background-size : 100% 100%;
}
div#preview div a {
    display:block;
    height:100%;
    /* border: 2px solid green; */
    text-align: center;
    font-size:36px;
    padding-top :40%;
    color:black;
}
div#preview div a:hover {
    background-color:white;
    opacity:0.5;
}
footer {
    background-color: white;
    height:200px;
    text-align:center;
}
footer .foo_div {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    margin-bottom:30px;
    
}
footer .foo_div img {
    width: 30px;
    border-radius:20%;
    margin-top:8px;
    margin-left:50px;
}
footer span {
    font-size:20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  section.notice {
    padding: 80px 0;
  }
  
  .page-title {
    margin-bottom: 60px;
  }
  .page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
  }
  
  #board-search .search-window {
    padding: 15px 0;
    background-color: #f9f7f9;
  }
  #board-search .search-window .search-wrap {
    position: relative;
  /*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
  }
  #board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
  }
  #board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
  }
  #board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
  }
  
  .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }
  .board-table a:hover {
    text-decoration: underline;
  }
  .board-table th {
    text-align: center;
  }
  
  .board-table .th-num {
    width: 100px;
    text-align: center;
  }
  
  .board-table .th-date {
    width: 200px;
  }
  
  .board-table th, .board-table td {
    padding: 14px 0;
  }
  
  .board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
  }
  
  .board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
  }
  
  .board-table tbody th p{
    display: none;
  }
  
  .btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
  }
  
  /* reset */
  
  /* * {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  .container h3 {
    text-align:left;
  }
  .blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
  }

  @keyframes startButton {
    0% {
        font-size:20px;
        opacity:0;
        transform:rotate(0deg);
    }
    100% {
        font-size:45px;
        opacity:1;
        transform:rotate(1800deg);
    }
}